<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品商品分类</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
        #cate_tree{
            position: absolute;
            z-index: 1;
            border: 1px solid #ccc;
            left: 0px;
            top: 37px;
            background-color: #eee;
            display: none;
            width: 100%;
        }
    </style>
<body layadmin-themealias="default">

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>数据操作</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据操作</div>
                <div class="layui-card-body">
                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                        <button class="layui-btn" data-type="delCateGory">删除商品分类</button>

                        <button class="layui-btn layui-btn-normal" data-type="addCategory">新增商品分类</button>
                        <button class="layui-btn layui-btn-danger" data-type="setSort">保存排序</button>
                        <!--                        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>-->
                        <!--                        <button class="layui-btn" data-type="isAll">验证是否全选</button>-->
                    </div>
                    <table class="layui-hide" id="category-data" lay-filter="category-data"></table>


                    <script type="text/html" id="test-table-switchTpl">
                        <!-- 这里的 checked 的状态只是演示 -->
                        <input type="checkbox" name="状态" lay-skin="switch" lay-text="是|否"
                               lay-filter="test-table-status"
                               value="{{ d.show_cate }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{
                               d.show_cate==
                               1 ? 'checked' : '' }}>
                    </script>

                    <script type="text/html" id="test-table-operate-barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    <div class="layui-card category-input" hidden>
                        <div class="layui-card-body">
                            <from class="layui-form" lay-filter="component-form-element">
                                <input type="hidden" value="" name="category_id" data-name="id"
                                       class="layui-input category_id">
                                <div class="layui-row layui-col-space10 layui-form-item">
                                    <div class="layui-col-lg6">
                                        <label class="layui-form-label">分类名称：</label>
                                        <div class="layui-input-block">
                                            <input type="text" value="" name="category_name" lay-verify="required"
                                                   placeholder="" autocomplete="off" data-name="cate_name"
                                                   class="layui-input item-input" >
                                        </div>
                                    </div>
                                    <div class="layui-col-lg6">
                                        <label class="layui-form-label">上级分类：</label>

                                        <div class="layui-input-block">
                                            <div id="cate_gory">
                                            <input type="text" value="顶级分类" readonly  name="cate_gory" data-name="pid"
                                                 placeholder="" autocomplete="off"
                                                 class="layui-input item-input" cate_id="0">
                                                <div id="cate_tree"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="layui-col-lg6">
                                        <label class="layui-form-label">关键词：</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="category_url" data-name="keywords"
                                                   placeholder="" autocomplete="off"
                                                   class="layui-input item-input">
                                        </div>
                                    </div>
                                    <div class="layui-col-lg6">
                                        <label class="layui-form-label">排序：</label>
                                        <div class="layui-input-block" style="width: 20%">
                                            <input type="text" name="sort" data-name="sort"
                                                   placeholder="" autocomplete="off" class="layui-input item-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">推荐位：</label>
                                    <div class="layui-input-block recpos">
                                        {volist name="recposRes" id="vo"}
                                        <input value="{$vo.id}" type="checkbox" data-name="recpos" title="{$vo.rec_name}">
                                        {/volist}
                                    </div>
                                </div>
                                <div class="layui-form-item layui-col-lg6">
                                    <label class="layui-form-label">是否开启：</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" class="item-checkbox" name="status" data-name="show_cate"
                                               lay-skin="switch" lay-filter="category-status" lay-text="是|否">
                                        <div class="layui-unselect layui-form-switch layui-form-onswitch"
                                             lay-skin="_switch"><em>是</em><i></i></div>
                                    </div>

                                    <!-- 这里的 checked 的状态只是演示 -->
                                </div>

                                <div class="layui-form-item layui-col-lg6">
                                    <label class="layui-form-label">分类图片：</label>
                                    <div class="layui-col-md12">
                                        <div class="layui-card">

                                            <div class="layui-upload layui-input-block">
                                                <button type="button" class="layui-btn" id="test-upload-normal">上传图片
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img class="layui-upload-img"
                                                         src="/public/static/common/img/default.png" id="cate_img">
                                                    <p id="test-upload-demoText"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><div class="layui-col-lg6">
                                    <label class="layui-form-label">分类icon：</label>
                                    <div class="layui-col-md12">
                                        <div class="layui-card">

                                            <div class="layui-upload layui-input-block">
                                                <button type="button" class="layui-btn" id="upload-normal-icon">上传icon
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img class="layui-upload-img"
                                                         src="/public/static/common/img/default.png" id="iconfont">
                                                    <p id="test-upload-iconText"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">分类描述：</label>
                                    <div class="layui-input-block">
                                        <textarea name="category_description" data-name="description" placeholder=""
                                                  class="layui-textarea item-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn data-send" lay-submit="">立即提交</button>
                                    </div>
                                </div>
                            </from>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__PLUGINS__/layuiadmin/layui/layui.js?=111"></script>

<script>

  layui.config({
    base: '/public/plugins/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table', 'form', 'upload'], function () {
    var table = layui.table
      , form = layui.form
      , upload = layui.upload
      , admin = layui.admin


    function Category() {
      var self = this;
      self.param = {}
      self.data = {}
      self.recpos = []

      layer.ready(function () {
        self.getList();
      });

      //监听表格复选框选择
      table.on('checkbox(category-data)', function (obj) {
        console.log(obj)
      });

      //弹出新增 修改框中checkbox的状态
      form.on('switch(category-status)', function (data) {
        $('.item-checkbox').val(data.elem.checked);
      });

      //监听状态操作
      form.on('switch(test-table-status)', function (obj) {

        var json = JSON.parse(decodeURIComponent($(this).data('json')));
        layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        json = table.clearCacheKey(json);
        if (obj.elem.checked) {
          var state = 1
        } else {
          var state = 0
        }
        var index = layer.load(2);
        $.ajax({
          url: 'setCategoryState',
          data: {
            id: json.id,
            state: state,
          },
          type: 'post',
          dataType: 'json',
          success: function (msg) {
            if (msg.code > 0) {
              layer.msg(msg.msg, {icon: 5});

            }
            layer.close(index)
            self.getList();
          }
        });
      });



      //监听工具条
      table.on('tool(category-data)', function (obj) {
        var data = obj.data;
        if (obj.event === 'detail') {
          layer.msg('ID：' + data.id + ' 的查看操作');
        } else if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            $delArr = [];
            $delArr.push(obj['data']['id']);
            $.ajax({
              url: 'delCateGory',
              data: {
                id: JSON.stringify($delArr),
              },
              type: 'post',
              dataType: 'json',
              success: function (msg) {
                if (msg.code > 0) {
                  layer.msg(msg.msg, {icon: 5});

                } else {
                  layer.msg(msg.msg, {icon: 1});
                }
              }
            });
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
          $('.category-input .item-input').each(function () {
            var dataName = $(this).attr('data-name');
            if(dataName == 'pid'){
              $("input[data-name=" + dataName + "]").val();
              var _html = $("#cate_tree").find("div[data-id=" + data[dataName] + "]").find('.layui-tree-txt').html();
              $("input[data-name=" + dataName + "]").val(_html).attr('cate_id',data[dataName]);
            }else{
              $("input[data-name=" + dataName + "]").val(data[dataName]);
            }

          })

          $('.category-input .item-textarea').each(function () {
            var dataName = $(this).attr('data-name');
            $("textarea[data-name=" + dataName + "]").val(data[dataName]);
          })

          $('.category-input #cate_img').prop('src', data['cate_img']);
          $('.category-input #iconfont').prop('src', data['iconfont']);

          $('.category-input .category_id').val(data['id']);
          if (data['show_cate'] == 1) {
            $('.category-input .item-checkbox').parent().find('.layui-unselect').addClass('layui-form-onswitch');
            $('.category-input .item-checkbox').parent().find('.layui-unselect em').html('是');
          } else {
            $('.category-input .item-checkbox').parent().find('.layui-unselect').removeClass('layui-form-onswitch');
            $('.category-input .item-checkbox').parent().find('.layui-unselect em').html('否');
          }
          if(data['recpos_id']){
            var recposArr = data['recpos_id'].split(',');
            console.log(recposArr)
            $('.category-input').find('input[data-name="recpos"]').each(function(){
              if($.inArray($(this).val(),recposArr) >= 0){
                $(this).prop('checked',true)
              }
            });
          }else{
            $('.category-input').find('input[data-name="recpos"]').prop('checked',false)
          }
          form.render() //重新渲染
          layer.open({
            type: 1,
            title: '商品分类修改',
            area: ['50%'],
            closeBtn: 0,
            shadeClose: true,
            skin: 'yourClass',
            content: $(".category-input"),
          });

        }
      });

      var $ = layui.$, active = {
        reload: function () {
          $('.data-search .item-input').each(function () {
            var dataName = $(this).attr('id');
            var val = $.trim($(this).val());
            self.param[dataName] = val
            if (self.param[dataName] == '') {
              delete self.param[dataName];
            }
          })
          //执行重载
          table.reload('category-data', {
            page: {
              curr: 1 //重新从第 1 页开始
            }
            , where: {
              param: JSON.stringify(self.param)
            }
          });
        }
        , delCateGory: function () { //获取选中数据
          layer.confirm('真的删除全部吗?', function (index) {
            var checkStatus = table.checkStatus('category-data')
              , data = checkStatus.data;
            var $id = [];
            $.each(data, function (i, el) {
              $id.push(el.id);
            })
            if ($id) {
              $.ajax({
                url: 'delCateGory',
                data: {
                  id: JSON.stringify($id),
                },
                type: 'post',
                dataType: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    layer.msg(msg.msg, {icon: 1});
                    self.getList();
                  }
                  layer.close(index)
                }
              });
            }
          })
        }
        , setSort: function () { //获取选中数据
          var allCategoryData = table.cache['category-data']
          var $id = {};

          $.each(allCategoryData, function (i, el) {
            $id[el.id] = el.sort;
          })

          if ($id) {
            var index = layer.load(2)
            $.ajax({
              url: 'setCateSort',
              data: {
                sort: JSON.stringify($id),
              },
              type: 'post',
              dataType: 'json',
              success: function (msg) {
                if (msg.code > 0) {
                  layer.msg(msg.msg, {icon: 5});
                } else {
                  layer.msg(msg.msg, {icon: 1});
                  self.getList();
                }
                layer.close(index)
              }
            });
          }
        }
        , addCategory: function () {
          $('.category-input .item-input').each(function () {
            var dataName = $(this).attr('data-name');

            $("input[data-name=" + dataName + "]").val('');

            $("input[data-name=pid]").val('顶级分类').attr('cate_id',0);
          })

          $('.category-input .item-textarea').each(function () {
            var dataName = $(this).attr('data-name');
            $("textarea[data-name=" + dataName + "]").val('');
          })

          $('.category-input #category_img').prop('src', '/public/static/common/img/default.png');

          $('.category-input .category_id').val('');
          layer.open({
            type: 1,
            title: '商品分类新增',
            area: ['50%'],
            closeBtn: 0,
            shadeClose: true,
            skin: 'yourClass',
            content: $(".category-input"),
          });
        }
        , getCheckLength: function () { //获取选中数目
          var checkStatus = table.checkStatus('category-data')
            , data = checkStatus.data;
          layer.msg('选中了：' + data.length + ' 个');
        }
        , isAll: function () { //验证是否全选
          var checkStatus = table.checkStatus('category-data');
          layer.msg(checkStatus.isAll ? '全选' : '未全选')
        }
      };

      $('.test-table-operate-btn .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      $('.layui-card-body').on('click','#cate_gory',function(e){

        e.stopPropagation();//阻止冒泡
        $(this).parent().find('#cate_tree').show();
      })

      $('.layui-card-body').on('click','#cate_tree',function(e){
        e.stopPropagation();//阻止冒泡
      })

      $(document).on('click','body',function(e){
        $(this).parent().find('#cate_tree').hide();
        e.stopPropagation();//阻止冒泡
      })



      //提交数据
      $('.data-send').click(function () {
        var flag = false;

        $('.category-input .item-input').each(function () {
          var dataName = $(this).attr('data-name');

          if(dataName == 'pid'){
            self['data'][dataName] = $("input[data-name=" + dataName + "]").attr('cate_id');
          }else{
            self['data'][dataName] = $("input[data-name=" + dataName + "]").val();
          }
          if (dataName == 'category_name' && self['data'][dataName] == '') {
            $("input[data-name=" + dataName + "]").addClass('layui-form-danger');
            flag = true;
          }
        })

        $('.category-input .item-checkbox').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $("input[data-name=" + dataName + "]").val();
          console.log(self['data'][dataName]);
          if (self['data'][dataName] == "true") {
            self['data'][dataName] = 1;
          } else {
            self['data'][dataName] = 0;
          }
        })

        var recpos = [];
        $('.category-input').find('input[data-name="recpos"]:checked').each(function(){
          recpos.push($(this).val());
        });
        self['recpos'] = recpos;


        $('.category-input .item-textarea').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $("textarea[data-name=" + dataName + "]").val();
        })

        self['data']['cate_img'] = $('.category-input #cate_img').attr('src');
        self['data']['iconfont'] = $('.category-input #iconfont').attr('src');

        var $category_id = $('.category_id').val();

        if ($category_id) {
          var $url = 'editCategory';
        } else {
          var $url = 'addCateGory';
        }

        if (flag) {
          return;
        }

        $.ajax({
          url: $url,
          data: {
            data: JSON.stringify(self.data),
            recpos: JSON.stringify(self['recpos']),
            id: $category_id,
          },
          type: 'post',
          dataType: 'json',
          success: function (msg) {
            if (msg.code > 0) {
              layer.msg(msg.msg, {icon: 2});
            } else {
              layer.msg(msg.msg, {icon: 1});
              self.getList();
              getChild();
            }
          }
        });
      })

      //搜索
      $('.test-table-reload-btn .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });



      //普通图片上传
      var uploadInst = upload.render({
        elem: '#test-upload-normal'
        , url: 'upload'
        , field: 'image'
        , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
          console.log(obj);
          layer.load('loading'); //上传loading
        }
        , done: function (res) {
          //如果上传失败
          layer.closeAll('loading'); //关闭loading
          if (res.code > 0) {
            return layer.msg('上传失败');
          }
          $('#cate_img').attr('src', res.file.saveFiles); //图片链接（base64）
          //上传成功
        }

        , error: function (obj) {

          //演示失败状态，并实现重传
          var demoText = $('#test-upload-demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
          });
        }
      });


      //普通icon上传
      var uploadInst = upload.render({
        elem: '#upload-normal-icon'
        , url: 'upload'
        , field: 'image'
        , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
          console.log(obj);
          layer.load('loading'); //上传loading
        }
        , done: function (res) {
          //如果上传失败
          layer.closeAll('loading'); //关闭loading
          if (res.code > 0) {
            return layer.msg('上传失败');
          }
          $('#iconfont').attr('src', res.file.saveFiles); //图片链接（base64）
          //上传成功
        }

        , error: function (obj) {

          //演示失败状态，并实现重传
          var demoText = $('#test-upload-iconText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
          });
        }
      });
      getChild();
      function getChild() {
        var index = layer.load(2);
        $.ajax({
          url: 'cateGoryChild',
          data: {

          },
          type: 'post',
          dataType: 'json',
          success: function (msg) {
            if (msg.code == 0) {
              var frist = {id: 0, cate_name: "顶级分类",title:"顶级分类", cate_img: "", iconfont: "icon-clothes", keywords: "",children:[]}
              msg.data.unshift(frist);
              layui.use(['tree'], function(){
                var tree = layui.tree
                  //模拟数据1
                  ,data = msg.data;
                //无连接线风格
                tree.render({
                  elem: '#cate_tree'
                  ,data: data
                  ,onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                  ,click: function(obj){
                    $("input[data-name=pid]").val(obj.data.cate_name).attr("cate_id",obj.data.id);
                  }
                });
              });
            }
            layer.close(index)
          }
        });
      }

    }



    Category.prototype = {
      constructor: Category,
      getList: function () {
        table.render({
          elem: '#category-data'
          , method: 'post'
          , url: 'cateGory'
          , cols: [[
            {type: 'checkbox', fixed: 'left'}
            , {field: 'id', width: 92, title: 'ID', fixed: 'left'}
            , {field: 'level_name', width: 300, title: '分类名称'}
            , {field: 'keywords', width: 100, title: '关键词'}
            , {field: 'description', width: 100, title: '分类描述'}
            , {field: 'search_attr_ids', width: 150, title: '属性筛选'}
            , {field: 'ps_num', width: 100, title: '价格区间数'}
            , {field: 'sort', width: 80, title: '排序', sort: true, edit: 'text'}
            , {field: 'show_cate', title: '状态', width: 100, templet: '#test-table-switchTpl', unresize: true}
            , {width: 550, align: 'center', toolbar: '#test-table-operate-barDemo'}
          ]]
          , page: true
        })
      },


    }

    new Category();
  });
</script>
</body>

