<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品品牌</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 97px;
            height: 97px;
        }

        .more_img_box {
            border: 1px solid #ddd;
            display: inline-block;
            position: relative;
            margin: 0 10px 10px 0;
        }

        .more-img-close {
            padding: 1px;
            background-color: #e0e0e0;
            position: absolute;
            right: 0;
            z-index: 2;
        }

        .more_img_box i {
            visibility: hidden;

        }

        .more_img_box:hover {
            border-color: red;
        }

        .more_img_box:hover i {
            visibility: visible;
            cursor: pointer;
        }


    </style>
<body layadmin-themealias="default">

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>数据操作</cite></a>
    </div>
</div>

<div class="layui-fluid" id="component-tabs">
    <div class="layui-row">
        <form class="layui-form goods-box" action="" lay-filter="component-form-element">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {empty name="$Request.param.id"}
                        <a style="padding: 0 5px;" class="layui-btn layui-btn-warm goods_add"
                           lay-submit lay-filter="component-form-element">商品新增
                        </a>
                        {else/}
                        <a style="padding: 0 5px;" class="layui-btn layui-btn goods_add"
                           lay-submit lay-filter="商品配置component-form-element">商品修改
                        </a>
                        {/empty}
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-tab">
                            <ul class="layui-tab-title">
                                <li class="layui-this">基本信息</li>
                                <li>描述信息</li>
                                <li>会员价格</li>
                                <li>商品属性</li>
                                <li>商品相册</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show goods_base">
                                    <div class="layui-card-body">
                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <input hidden value="{$Request.param.id}" class="goods_id">
                                            <div class="layui-col-lg6">
                                                <label class="layui-form-label">商品名称：</label>
                                                <div class="layui-input-block">
                                                    <input type="text" value="{$goodsRes.goods.goods_name}"
                                                           name="fullname" lay-verify="required"
                                                           placeholder="" autocomplete="off" data-name="goods_name"
                                                           class="layui-input item-input">
                                                </div>
                                            </div>
                                            <div class="layui-col-lg6">
                                                <label class="layui-form-label">所属栏目：</label>
                                                <div class="layui-input-block">
                                                    <select name="category_id" data-name="category_id"
                                                            lay-verify="required" class="cateGory item-select"
                                                            lay-search lay-filter="cateGory">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">

                                            <div class="layui-col-lg3">
                                                <label class="layui-form-label">市场价格：</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="fullname" lay-verify="required"
                                                           placeholder="" autocomplete="off" data-name="markte_price"
                                                           class="layui-input item-input">
                                                </div>
                                            </div>

                                            <div class="layui-col-lg3">
                                                <label class="layui-form-label">本店价格：</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="fullname" lay-verify="required"
                                                           placeholder="" autocomplete="off" data-name="shop_price"
                                                           class="layui-input item-input">
                                                </div>
                                            </div>

                                            <div class="layui-col-lg6">
                                                <label class="layui-form-label">所属品牌：</label>
                                                <div class="layui-input-block">
                                                    <select name="brand" class="brand item-select" data-name="brand_id"
                                                            lay-filter="brand">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-col-lg6">
                                                <label class="layui-form-label">是否上架：</label>
                                                <div class="layui-input-block">
                                                    <input type="checkbox" checked value="true" lay-filter="on_sale"
                                                           class="item-checkbox" data-name="on_sale" lay-skin="switch"
                                                           lay-text="是|否">
                                                </div>
                                            </div>

                                            <div class="layui-col-lg4">
                                                <label class="layui-form-label">重量：</label>
                                                <div class="layui-input-block" style="margin-right: 10px;">
                                                    <input type="text" name="fullname" lay-verify="required"
                                                           placeholder="" autocomplete="off" data-name="goods_weight"
                                                           class="layui-input item-input">
                                                </div>
                                            </div>
                                            <div class="layui-col-lg2">
                                                <select class="weight_unit" lay-verify="required" lay-filter="">
                                                    <option value="kg">kg</option>
                                                    <option value="g">g</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">推荐位：</label>
                                            <div class="layui-input-block recpos">
                                                {volist name="recposRes" id="vo"}
                                                <input value="{$vo.id}" type="checkbox" data-name="recpos" title="{$vo.rec_name}">
                                                {/volist}
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">商品主图：</label>
                                            <div class="layui-col-md2">
                                                <div class="layui-upload">
                                                    <button type="button" class="layui-btn" id="test-upload-normal">上传图片
                                                    </button>
                                                    <div class="layui-upload-list">
                                                        <img class="layui-upload-img" alt=""

                                                             id="master_img">
                                                        <p id="test-upload-demoText"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item goods_desc">
                                    <div class="layui-form-item">
                                        <textarea name="goods_desction" id="goods_desction"></textarea>
                                    </div>

                                </div>
                                <div class="layui-tab-item goods_price">


                                </div>
                                <div class="layui-tab-item goods_attr">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-lg6">
                                            <label class="layui-form-label">所属类型：</label>
                                            <div class="layui-input-block">
                                                <select lay-search name="type" class="type" lay-filter="type">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg12 attr_lists">

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item goods_pic">
                                    <div class="layui-card">
                                        <div class="layui-card-header">上传多张图片</div>
                                        <div class="layui-card-body">
                                            <div class="layui-upload">
                                                <button type="button" class="layui-btn" id="test-upload-more">多图片上传
                                                </button>
                                                <blockquote class="layui-elem-quote layui-quote-nm"
                                                            style="margin-top: 10px;">
                                                    预览图：
                                                    <div class="layui-upload-list" id="goods-upload-more-list"></div>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="__PLUGINS__/jquery.min.js"></script>
    <script src="__PLUGINS__/layuiadmin/layui/layui.js"></script>
    <script src="__PLUGINS__/ueditor/ueditor.config.js"></script>
    <script src="__PLUGINS__/ueditor/ueditor.all.min.js"></script>
    <script src="__PLUGINS__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
      $(document).ready(function () {
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('goods_desction', {initialFrameWidth: 1500, initialFrameHeight: 500});
        layui.config({
          base: '/public/plugins/layuiadmin/' //静态资源所在路径
        }).extend({
          index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload'], function () {
          var table = layui.table
            , form = layui.form
            , upload = layui.upload
            , admin = layui.admin;


          function setGoods() {
            var self = this;
            self.param = {}
            self.data = {}
            self.goods_price = {}
            self.goods_base = {}
            self.goods_attr = {}
            self.goods_photo = {}
            self.goods_recpos = []
            layer.ready(function () {
              self.getCateGory();
              self.getBrand();
              self.getMemberLever();
              self.getType();
              var goods_id = $('.goods_id').val();
              if (goods_id) {
                self.getGoodsData(goods_id);
              }
            })

            //弹出新增 修改框中checkbox的状态
            form.on('switch(on_sale)', function (data) {
              $('.item-checkbox').val(data.elem.checked);
            });

            $('.goods_add').click(function () {
              self.goods_base = {};
              self.goods_price = {};
              self.orgData();
              var goodsID = $('.goods_id').val()
              var url = 'addGoods';

              var goodsData = {
                goods_price: JSON.stringify(self.goods_price),
                goods_base: JSON.stringify(self.goods_base),
                goods_attr: JSON.stringify(self.goods_attr),
                goods_photo: JSON.stringify(self.goods_photo),
                goods_recpos: JSON.stringify(self.goods_recpos)
              };

              if (goodsID) {
                goodsData['goods_id'] = goodsID
                url = '/admin.php/goods/editGoods';
              }

              $.ajax({ //todo 封装
                url: url,
                type: 'post',
                dataType: 'json',
                data: goodsData,
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    layer.msg(msg.msg, {icon: 1});
                  }
                  layer.close(index)
                }
              })
            })


            form.on('select(type)', function (data) {
              if (data.value) {
                var goods_id = $('.goods_id').val();
                self.setAttr(data.value, goods_id, self.goods_attr);
              } else {
                $('.attr_lists').html("");
              }
            });

            //属性的复制
            $('.goods-box').on('click', '.add_attr', function () {
              var attr_html = $(this).parent().parent();
              if ($(this).find('i').hasClass('layui-icon-add-1')) {
                var clone_html = attr_html.clone();
                clone_html.attr('goods_attr_id','')
                clone_html.find('.add_attr i').removeClass('layui-icon-add-1').addClass('layui-icon-delete');
                attr_html.after(clone_html);
                form.render();
              } else {
                attr_html.remove();
              }
            })

            //图片删除
            $('.goods-box').on('click', '.more-img-close', function () {
              $(this).parent().remove();
            })

            //多图片上传
            upload.render({
              elem: '#test-upload-more'
              , url: '/admin.php/Goods/upload'
              , field: 'image'
              , multiple: true
              , before: function (obj) {
                //预读本地文件示例，不支持ie8
              }
              , done: function (res) {
                //上传完毕
                $('#goods-upload-more-list').append('<div class="more_img_box"><img src="' + res['file']['saveFiles'] + '" alt="' + res['file']['saveFiles'] + '" ' +
                  'class="layui-upload-img"><i class="more-img-close layui-icon layui-icon-close"></i></div>')
              }
            });

            //普通图片上传
            var uploadInst = upload.render({
              elem: '#test-upload-normal'
              , url: '/admin.php/Goods/upload'
              , field: 'image'
              , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load('loading'); //上传loading
              }
              , done: function (res) {
                //如果上传失败
                layer.closeAll('loading'); //关闭loading
                if (res.code > 0) {
                  return layer.msg('上传失败');
                }
                $('#master_img').attr('src', res.file.saveFiles).attr('alt', res.file.saveFiles); //图片链接（base64）
                //上传成功
              }

              , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                  uploadInst.upload();
                });
              }
            });
          }

          setGoods.prototype = {
            constructor: setGoods,
            getCateGory: function () {
              var index = layer.load(2);
              $.ajax({
                url: '/admin.php/Goods/cateGory',
                type: 'post',
                dataLevel: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    var str = '';
                    $.each(msg.data, function (i, el) {
                      str += '<option value = ' + el.id + '>' + el.html + '' + el.cate_name + '</option>';
                    })
                    $('.cateGory').html(str);
                    form.render();
                  }
                  layer.close(index)
                }
              })
            },
            getBrand: function () {
              $.ajax({
                url: '/admin.php/Brand/getData',
                type: 'post',
                data: {param: JSON.stringify({"status": 1})},
                dataType: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    var str = '<option value = ""></option>';
                    $.each(msg.data, function (i, el) {
                      str += '<option value = ' + el.id + '>' + el.brand_name + '</option>';
                    })
                    $('.brand').html(str);
                    form.render();
                  }
                }
              })
            },
            getMemberLever: function () {
              $.ajax({
                url: '/admin.php/Member/getData',
                type: 'post',
                dataType: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    var str = '暂无会员等级请先添加:';
                    str += ' <a style="color: #00b7ee;" lay-href="/admin.php/Member/level">增加会员等级</a>';
                    if (msg.count > 0) {
                      var str = '';
                      $.each(msg.data, function (i, el) {
                        str += '<div class="layui-form-item">';
                        str += '<div class="layui-col-lg3">';
                        str += '<label class="layui-form-label">' + el.level_name + '：</label>';
                        str += '<div class="layui-input-block">';
                        str += '<input type="text" name="fullname" data-name="m_price" price_id="" level_id="' + el.id + '"  placeholder="" autocomplete="off" class="layui-input item-input">';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';
                      })
                    }
                    $('.goods_price').html(str);
                  }
                }
              })
            },
            getType: function () {
              index = layer.load(2)
              $.ajax({
                url: '/admin.php/Type/getData',
                type: 'post',
                dataLevel: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    var str = '<option value = ""></option>';
                    $.each(msg.data, function (i, el) {
                      str += '<option value = ' + el.id + '>' + el.type_name + '</option>';
                    })
                    $('.type').html(str);
                    form.render();
                  }
                  layer.close(index);
                }
              })
            },
            getGoodsData: function (goods_id) {
              var self = this;
              var index = layer.load(2)
              $.ajax({
                url: '/admin.php/Goods/setGoods',
                data: {id: goods_id},
                type: 'post',
                dataLevel: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    self.orgData(msg)
                  }
                  layer.close(index);
                }
              })
            },
            setAttr: function (type_id, goods_id, attr) {
              console.log(attr)
              $.ajax({
                url: '/admin.php/Type/getAttr',
                type: 'post',
                data: {type_id: type_id},
                dataType: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    $('.attr_lists').html('');
                    if (msg.count > 0) {
                      var str = '';
                      console.log(msg.data)
                      $.each(msg.data, function (i, el) {
                        //是单选属性
                        if (el.attr_type == 1) {
                          if (goods_id && attr[el.id]) {
                            $.each(attr[el.id], function (k, a) {
                              str += '<div goods_attr_id="' + a.id + '" class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                              str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                              var attrValuesArr = el.attr_values.split(",");
                              str += '<div class="layui-col-lg3"><div class="layui-form-item">';
                              str += '<select class="attr_val">';
                              $.each(attrValuesArr, function (i, e) {
                                if (a.attr_value == e) {
                                  str += '<option selected value="' + e + '">' + e + '</option>';
                                } else {
                                  str += '<option value="' + e + '">' + e + '</option>';
                                }
                              });
                              str += '</select>';
                              str += '</div></div>';
                              str += '<div class="layui-col-lg2">';
                              str += '<input type="text" name="fullname" value = ' + a.attr_price + ' placeholder="价格" autocomplete="off" class="layui-input attr_price">';
                              str += '</div><div class="layui-col-lg1"><a style="vertical-align: text-top;" class="add_attr layui-btn layui-btn-sm">'
                              if (k == 0) {
                                str += '<i class="layui-icon layui-icon-add-1"></i>'
                              } else {
                                str += '<i class="layui-icon layui-icon-delete"></i>'
                              }
                              str += '</a></div></div>';
                            });
                          } else {
                            str += '<div class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                            str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                            var attrValuesArr = el.attr_values.split(",");
                            str += '<div class="layui-col-lg3"><div class="layui-form-item">';
                            str += '<select class="attr_val">';
                            $.each(attrValuesArr, function (i, e) {
                              str += '<option value="' + e + '">' + e + '</option>';
                            });
                            str += '</select>';
                            str += '</div></div>';
                            str += '<div class="layui-col-lg2">';
                            str += '<input type="text" name="fullname" placeholder="价格" autocomplete="off" class="layui-input attr_price">';
                            str += '</div><div class="layui-col-lg1"><a style="vertical-align: text-top;" class="add_attr layui-btn layui-btn-sm">' +
                              '<i class="layui-icon layui-icon-add-1"></i></a></div></div>';
                          }
                        } else {
                          if (goods_id && attr[el.id]) {
                            //是唯一属性
                            if (el.attr_values) {
                              $.each(attr[el.id], function (k, a) {
                                str += '<div goods_attr_id="' + a.id + '" class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                                str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                                var attrValuesArr = el.attr_values.split(",");
                                str += '<div class="layui-col-lg2"><div class="layui-form-item">';
                                str += '<select class="attr_val">';
                                $.each(attrValuesArr, function (i, e) {
                                  if (attr[el.id][0].attr_value == e) {
                                    str += '<option selected value="' + e + '">' + e + '</option>';
                                  } else {
                                    str += '<option value="' + e + '">' + e + '</option>';
                                  }
                                });
                                str += '</select>';
                                str += '</div></div>';
                                str += '</div>';
                              })
                            } else {
                              $.each(attr[el.id], function (k, a) {
                                str += '<div goods_attr_id="' + a.id + '" class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                                str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                                str += '<div class="layui-col-lg2"><div class="layui-form-item">';
                                str += '<input value="' + attr[el.id][0].attr_value + '" type="text" name="fullname" placeholder="" autocomplete="off" class="layui-input attr_val">';
                                str += '</div></div></div>';
                              })
                            }
                          } else {
                            //是唯一属性
                            if (el.attr_values) {
                              str += '<div class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                              str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                              var attrValuesArr = el.attr_values.split(",");
                              str += '<div class="layui-col-lg2"><div class="layui-form-item">';
                              str += '<select class="attr_val">';
                              $.each(attrValuesArr, function (i, e) {
                                str += '<option value="' + e + '">' + e + '</option>';
                              });
                              str += '</select>';
                              str += '</div></div>';
                              str += '</div>';
                            } else {
                              str += '<div class="layui-col-lg12 layui-col-space10 attr_list" attr_id="' + el.id + '">';
                              str += '<label class="layui-form-label">' + el.attr_name + '：</label>';
                              str += '<div class="layui-col-lg2"><div class="layui-form-item">';
                              str += '<input type="text" name="fullname" placeholder="" autocomplete="off" class="layui-input attr_val">';
                              str += '</div></div></div>';
                            }
                          }
                        }
                      })

                      $('.attr_lists').append(str);
                      form.render();
                    }
                  }
                }
              })
            },
            orgData: function (msg) {
              var self = this;
              if (msg) {
                $('.goods_base .item-input').each(function () {
                  var dataName = $(this).attr('data-name');
                  self['goods_base'][dataName] = $("input[data-name=" + dataName + "]").val("" + msg['goods'][dataName] + "");
                  if (dataName == 'goods_weight' && self['goods_base'][dataName] != '') {
                    self['goods_base']['weight_unit'] = $('.weight_unit').val();
                  }
                })

                self['goods_base']['goods_des'] = ue.setContent("" + msg['goods']['goods_des'] + "");

                $('.goods_price .item-input').each(function () {
                  var levelID = $(this).attr('level_id');
                  $(this).attr('price_id',msg['member_price'][levelID] ? msg['member_price'][levelID]['id'] :'');
                  self.goods_price[levelID] = $(this).val(msg['member_price'][levelID] ? msg['member_price'][levelID]['mprice']:'');
                })

                self['goods_base']['og_thumb'] = $('#master_img').prop('alt', "" + msg['goods']['og_thumb'] + "").prop('src', "" + msg['goods']['og_thumb'] + "");

                $('.goods_base .item-select').each(function () {
                  var dataName = $(this).attr('data-name');
                  var select = 'dd[lay-value=' + msg['goods'][dataName] + ']';
                  $(this).siblings("div.layui-form-select").find('dl').find(select).click()
                })

                //保留全局的attr
                self.goods_attr = msg.attr;

                //属性的选中
                var goods_attr_select = 'dd[lay-value=' + msg['goods']['type_id'] + ']';
                $('.goods_attr .type').siblings("div.layui-form-select").find('dl').find(goods_attr_select).click();

                $('.goods_base .item-checkbox').each(function () {
                  var dataName = $(this).attr('data-name');
                  console.log(msg['goods'][dataName]);
                  if (msg['goods']['on_sale'] == 1) {
                    $(this).parent().find('.layui-unselect').addClass('layui-form-onswitch');
                    $(this).parent().find('.layui-unselect em').html('是');
                  } else {
                    $(this).parent().find('.layui-unselect').removeClass('layui-form-onswitch');
                    $(this).parent().find('.layui-unselect em').html('否');
                  }
                })

                $('.goods_base').find('input[data-name="recpos"]').each(function(){
                  if(msg['recpos'][$(this).val()]){
                    $(this).prop('checked',true)
                  }
                });
                form.render() //重新渲染

                //这边是商品图片的数据
                var str = '';
                //if(msg.photo.length > 0){
                $.each(msg.photo, function (i, el) {
                  str += '<div class="more_img_box">'
                  str += '<img src="' + el.og_photo + '" alt="' + el.og_photo + '" class="layui-upload-img">'
                  str += '<i class="more-img-close layui-icon layui-icon-close"></i>'
                  str += '</div>'
                })
                $('#goods-upload-more-list').html(str);
                // }

              } else {
                $('.goods_base .item-input').each(function () {
                  var dataName = $(this).attr('data-name');
                  self['goods_base'][dataName] = $("input[data-name=" + dataName + "]").val();
                  if (dataName == 'goods_weight' && self['goods_base'][dataName] != '') {
                    self['goods_base']['weight_unit'] = $('.weight_unit').val();
                  }
                })

                $('.goods_base .item-select').each(function () {
                  var dataName = $(this).attr('data-name');
                  self['goods_base'][dataName] = $("select[data-name=" + dataName + "]").val();
                })

                $('.goods_base .item-checkbox').each(function () {
                  var dataName = $(this).attr('data-name');
                  self['goods_base'][dataName] = $("input[data-name=" + dataName + "]").val();
                  if (self['goods_base'][dataName] == "true") {
                    self['goods_base'][dataName] = 1;
                  } else {
                    self['goods_base'][dataName] = 0;
                  }
                })

                var recpos = [];
                $('.goods_base').find('input[data-name="recpos"]:checked').each(function(){
                  recpos.push($(this).val());
                });
                console.log(12232)
                self['goods_recpos'] = recpos;

                self['goods_base']['og_thumb'] = $('#master_img').prop('alt');

                self['goods_base']['goods_des'] = ue.getContent();

                console.log(self)
                var type_id = $('.goods_attr .type').val();

                if (type_id) {
                  self['goods_attr'] = {};
                  self['goods_attr']['type_id'] = type_id
                  self['goods_attr']['attr_lists'] = [];
                  $('.attr_lists .attr_list').each(function () {
                    self['attr_list'] = {};
                    self['attr_list']['attr_id'] = $(this).attr('attr_id');
                    if($(this).attr('goods_attr_id')){
                      self['attr_list']['id'] = $(this).attr('goods_attr_id');
                    }
                    self['attr_list']['attr_value'] = $(this).find('.attr_val').val();
                    self['attr_list']['attr_price'] = $(this).find('.attr_price').val() ? $(this).find('.attr_price').val() : 0;
                    self['goods_attr']['attr_lists'].push(self['attr_list'])
                  })
                }

                var goods_pics_arrs = [];
                $('#goods-upload-more-list .more_img_box').each(function () {
                  goods_pics_arrs.push($(this).find('img').prop('alt'))
                })
                self['goods_photo'] = goods_pics_arrs;


                $('.goods_price .item-input').each(function () {
                  var levelID = $(this).attr('level_id');
                  var level_val = $(this).val();

                  var priceObj = {'mprice':$(this).val()};

                  if($(this).attr('price_id')){
                    priceObj.id = $(this).attr('price_id');
                  }
                  self.goods_price[levelID] = priceObj;
                  if (level_val == '') {
                    delete self.goods_price[levelID];
                  }
                })
              }

            }
          }
          new setGoods();
        });

      });
    </script>
</body>

