<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PLUGINS__/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
<body layadmin-themealias="default">

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>数据操作</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-form layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">默认风格</div>
                <div class="layui-card-body">

                        <div class="layui-tab">
                            <ul class="layui-tab-title">
                                <li class="layui-this">网站设置</li>
                                <li class="">商品配置</li>
                            </ul>
                            <div class="layui-tab-content" style="padding: 15px;">
                                <form class="layui-form layui-tab-item layui-show" action="lst" method="post" enctype="multipart/form-data">
                                    <div class="">
                                    {volist name="config_data.data" id="vo"}
                                    {assign name="valuesArr" value="$vo.values|explode=',',###" /}
                                    {assign name="valueArr" value="$vo.value|explode=',',###" /}
                                    {if condition="$vo.conf_type eq 1 && $vo.status eq 1"}
                                    <div class="layui-form-item">
                                        <div class="layui-col-lg6">
                                            <label class="layui-form-label">{$vo.cname}：</label>
                                            <div class="layui-input-block">
                                                {switch name="vo.form_type"}

                                                {case value="input"}
                                                    <input type="text" name="{$vo.id}" placeholder=""
                                                       autocomplete="off" value="{$vo.value}" class="layui-input">
                                                {/case}

                                                {case value="checkbox"}
                                                    <input type="hidden" name="{$vo.id}[]" value="">
                                                {volist name="valuesArr" id="k"}
                                                    <input type="checkbox" name="{$vo.id}[]" lay-skin="primary"
                                                                title="{$k}" value="{$k}"  {in name="k" value="$valueArr"}checked=""{/in} >
                                                {/volist}
                                                {/case}

                                                {case value="textarea"}
                                                    <textarea name="{$vo.id}" placeholder="请输入内容"
                                                          class="layui-textarea">{$vo.value}</textarea>
                                                {/case}

                                                {case value="radio"}
                                                    {volist name="valuesArr" id="k"}
                                                    <input type="radio" name="{$vo.id}" value="{$k}" title="{$k}" {in name="k" value="$valueArr"}checked=""{/in}>
                                                    {/volist}
                                                {/case}
                                                {case value="select"}
                                                <select name="{$vo.id}" class="item-select" data-name="conf_type"
                                                        lay-verify="required" lay-filter="conf_type">
                                                    {volist name="valuesArr" id="k"}
                                                        <option value="{$k}" {in name="k" value="$valueArr"}selected=""{/in}>{$k}</option>
                                                    {/volist}
                                                </select>
                                                {/case}

                                                {case value="file"}
                                                    <input type="file" name="{$vo.ename}">
                                                    {if condition = "$vo.value"}
                                                    <div class="layui-upload-list">
                                                        <img class="layui-upload-img"
                                                             src="{$vo.value}">
                                                    </div>
                                                    {else/}
                                                    <div class="layui-upload-list">
                                                        <img class="layui-upload-img"
                                                             src="/public/static/common/img/default.png">
                                                    </div>
                                                    {/if}
                                                {/case}
                                                {/switch}
                                            </div>
                                        </div>
                                    </div>
                                    {/if}
                                    {/volist}
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="component-form-element">
                                                立即提交
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                <form class="layui-form layui-tab-item" action="lst" method="post" enctype="multipart/form-data">
                                <div class="">
                                    {volist name="config_data.data" id="vo"}
                                    {assign name="valuesArr" value="$vo.values|explode=',',###" /}
                                    {assign name="valueArr" value="$vo.value|explode=',',###" /}
                                    {if condition="$vo.conf_type eq 2 && $vo.status eq 1"}
                                    <div class="layui-form-item">
                                        <div class="layui-col-lg6">
                                            <label class="layui-form-label">{$vo.cname}：</label>
                                            <div class="layui-input-block">
                                                {switch name="vo.form_type"}
                                                {case value="input"}
                                                <input type="text" name="{$vo.id}" placeholder=""
                                                       autocomplete="off" value="{$vo.value}" class="layui-input">
                                                {/case}
                                                {case value="checkbox"}
                                                    <input type="hidden" name="{$vo.id}[]" value="">
                                                {volist name="valuesArr" id="k"}
                                                <input type="checkbox" name="{$vo.id}[]" lay-skin="primary"
                                                       title="{$k}"  value="{$k}"  {in name="k" value="$valueArr"}checked=""{/in} >
                                                {/volist}
                                                {/case}
                                                {case value="textarea"}

                                                <textarea name="{$vo.id}" placeholder="请输入内容"
                                                          class="layui-textarea">{$vo.value}</textarea>
                                                {/case}
                                                {case value="radio"}
                                                {volist name="valuesArr" id="k"}
                                                <input type="radio" name="{$vo.id}" value="{$k}" title="{$k}" {in name="k" value="$valueArr"}checked=""{/in}>
                                                {/volist}
                                                {/case}
                                                {case value="select"}
                                                <select name="{$vo.id}" class="item-select" data-name="conf_type"
                                                        lay-verify="required" lay-filter="conf_type">
                                                    {volist name="valuesArr" id="k"}
                                                    <option value="{$k}" {in name="k" value="$valueArr"}selected=""{/in}>{$k}</option>
                                                    {/volist}
                                                </select>
                                                {/case}
                                                {case value="file"}

                                                <button type="button" class="layui-btn" id="test-upload-normal">上传图片
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img class="layui-upload-img"
                                                         src="/public/static/common/img/default.png" id="brand_img">
                                                    <p id="test-upload-demoText"></p>
                                                </div>

                                                {/case}
                                                {/switch}
                                            </div>
                                        </div>
                                    </div>
                                    {/if}
                                    {/volist}
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="component-form-element">
                                                立即提交
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="__PLUGINS__/layuiadmin/layui/layui.js"></script>

<script>

  layui.config({
    base: '/public/plugins/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table', 'form', 'upload'], function () {
    var table = layui.table
      , form = layui.form
      , upload = layui.upload
      , admin = layui.admin;


    function Config() {
      var self = this;
      self.param = {}
      self.data = {}

      layer.ready(function () {
        self.getList();
      });

      //监听表格复选框选择
      table.on('checkbox(config-data)', function (obj) {
        console.log(obj)
      });

      //弹出新增 修改框中checkbox的状态
      form.on('switch(config-status)', function (data) {
        $('.item-checkbox').val(data.elem.checked);
      });

      //监听状态操作
      form.on('switch(test-table-status)', function (obj) {

        var json = JSON.parse(decodeURIComponent($(this).data('json')));
        layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        json = table.clearCacheKey(json);
        if (obj.elem.checked) {
          var state = 1
        } else {
          var state = 0
        }
        var index = layer.load(2);
        $.ajax({
          url: 'setState',
          data: {
            id: json.id,
            state: state,
          },
          type: 'post',
          dataType: 'json',
          success: function (msg) {
            if (msg.code > 0) {
              layer.msg(msg.msg, {icon: 5});
              if (obj.value == 1) {
                obj.othis.parent().find('.layui-unselect').addClass('layui-form-onswitch')
                obj.othis.parent().find('.layui-unselect em').html('关')
              } else {
                obj.othis.parent().find('.layui-unselect').removeClass('layui-form-onswitch')
                obj.othis.parent().find('.layui-unselect em').html('开')
              }
            }
            layer.close(index)
          }
        });
      });

      //监听工具条
      table.on('tool(config-data)', function (obj) {
        var data = obj.data;
        if (obj.event === 'detail') {
          layer.msg('ID：' + data.id + ' 的查看操作');
        } else if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            $delArr = [];
            $delArr.push(obj['data']['id']);
            $.ajax({
              url: 'delConfig',
              data: {
                id: JSON.stringify($delArr),
              },
              type: 'post',
              dataType: 'json',
              success: function (msg) {
                if (msg.code > 0) {
                  layer.msg(msg.msg, {icon: 5});

                } else {
                  layer.msg(msg.msg, {icon: 1});
                }
              }
            });
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
          $('.config-input .item-input').each(function () {
            var dataName = $(this).attr('data-name');
            $("input[data-name=" + dataName + "]").val(data[dataName]);
          })

          $('.config-input .item-textarea').each(function () {
            var dataName = $(this).attr('data-name');
            $("textarea[data-name=" + dataName + "]").val(data[dataName]);
          })

          $('.config-input .item-select').each(function () {
            var dataName = $(this).attr('data-name');
            var select = $(this).parent().find('dd[lay-value=' + data[dataName] + ']');
            $(this).siblings("div.layui-form-select").find('dl').find(select).click();//select选中使用模拟点击事件
          })


          $('.config-input #config_img').prop('src', data['config_img']);

          $('.config-input .config_id').val(data['id']);
          if (data['status'] == 1) {
            $('.config-input .item-checkbox').parent().find('.layui-unselect').addClass('layui-form-onswitch');
            $('.config-input .item-checkbox').parent().find('.layui-unselect em').html('是');
          } else {
            $('.config-input .item-checkbox').parent().find('.layui-unselect').removeClass('layui-form-onswitch');
            $('.config-input .item-checkbox').parent().find('.layui-unselect em').html('否');
          }


          // $('.data-search .item-input').each(function () {
          //   var dataName = $(this).attr('id');
          //   var val = $.trim($(this).val());
          //   self.param[dataName] = val
          //   if (self.param[dataName] == '') {
          //     delete self.param[dataName];
          //   }
          // })
          layer.open({
            type: 1,
            title: '配置修改',
            area: ['50%'],
            closeBtn: 0,
            shadeClose: true,
            skin: 'yourClass',
            content: $(".config-input"),
          });
        }
      });

      var $ = layui.$, active = {
        reload: function () {
          $('.data-search .item-input').each(function () {
            var dataName = $(this).attr('id');
            var val = $.trim($(this).val());
            self.param[dataName] = val
            if (self.param[dataName] == '') {
              delete self.param[dataName];
            }
          })

          $('.data-search .item-select').each(function () {
            var dataName = $(this).attr('id');
            var val = $.trim($(this).val());
            self.param[dataName] = val
            if (self.param[dataName] == '') {
              delete self.param[dataName];
            }
          })
          //执行重载
          table.reload('config-data', {
            page: {
              curr: 1 //重新从第 1 页开始
            }
            , where: {
              param: JSON.stringify(self.param)
            }
          });
        }
        , delConfig: function () { //获取选中数据
          layer.confirm('真的删除全部吗?', function (index) {
            var checkStatus = table.checkStatus('config-data')
              , data = checkStatus.data;
            var $id = [];
            $.each(data, function (i, el) {
              $id.push(el.id);
            })
            if ($id) {
              $.ajax({
                url: 'delConfig',
                data: {
                  id: JSON.stringify($id),
                },
                type: 'post',
                dataType: 'json',
                success: function (msg) {
                  if (msg.code > 0) {
                    layer.msg(msg.msg, {icon: 5});
                  } else {
                    layer.msg(msg.msg, {icon: 1});
                    self.getList();
                  }
                  layer.close(index)
                }
              });
            }
          })
        }
        , setSort: function () { //获取选中数据
          var allConfigData = table.cache['config-data']
          var $id = {};

          $.each(allConfigData, function (i, el) {
            $id[el.id] = el.sort;
          })

          if ($id) {
            $.ajax({
              url: 'setSort',
              data: {
                sort: JSON.stringify($id),
              },
              type: 'post',
              dataType: 'json',
              success: function (msg) {
                if (msg.code > 0) {
                  layer.msg(msg.msg, {icon: 5});
                } else {
                  layer.msg(msg.msg, {icon: 1});
                  self.getList();
                }
                layer.close(index)
              }
            });
          }
        }
        , addConfig: function () {
          $('.config-input .item-input').each(function () {
            var dataName = $(this).attr('data-name');
            $("input[data-name=" + dataName + "]").val('');
          })

          $('.config-input .item-textarea').each(function () {
            var dataName = $(this).attr('data-name');
            $("textarea[data-name=" + dataName + "]").val('');
          })

          $('.config-input #config_img').prop('src', '/public/static/common/img/default.png');

          $('.config-input .config_id').val('');
          layer.open({
            type: 1,
            title: '配置新增',
            area: ['50%'],
            closeBtn: 0,
            shadeClose: true,
            skin: 'yourClass',
            content: $(".config-input"),
          });
        }
        , getCheckLength: function () { //获取选中数目
          var checkStatus = table.checkStatus('config-data')
            , data = checkStatus.data;
          layer.msg('选中了：' + data.length + ' 个');
        }
        , isAll: function () { //验证是否全选
          var checkStatus = table.checkStatus('config-data');
          layer.msg(checkStatus.isAll ? '全选' : '未全选')
        }
      };

      //刘列表页的搜索按钮、删除、新增等按钮获取data-type的事件
      $('.test-table-operate-btn .layui-btn,.test-table-reload-btn .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      //提交数据
      $('.data-send').click(function () {
        var flag = false;

        $('.config-input .item-input').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $("input[data-name=" + dataName + "]").val();
          if (dataName == 'cname' && self['data'][dataName] == '') {
            $("input[data-name=" + dataName + "]").addClass('layui-form-danger');
            flag = true;
          }
        })

        $('.config-input .item-select').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $(this).val();
        })

        $('.config-input .item-checkbox').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $("input[data-name=" + dataName + "]").val();
          console.log(self['data'][dataName]);
          if (self['data'][dataName] == "true") {
            self['data'][dataName] = 1;
          } else {
            self['data'][dataName] = 0;
          }
        })


        $('.config-input .item-textarea').each(function () {
          var dataName = $(this).attr('data-name');
          self['data'][dataName] = $("textarea[data-name=" + dataName + "]").val();
        })

        self['data']['config_img'] = $('.config-input #config_img').attr('src');

        var $config_id = $('.config_id').val();

        if ($config_id) {
          var $url = 'editConfig';
        } else {
          var $url = 'addConfig';
        }

        if (flag) {
          return;
        }

        $.ajax({
          url: $url,
          data: {
            data: JSON.stringify(self.data),
            id: $config_id,
          },
          type: 'post',
          dataType: 'json',
          success: function (msg) {
            if (msg.code > 0) {
              layer.msg(msg.msg, {icon: 2});
            } else {
              layer.msg(msg.msg, {icon: 1});
              self.getList();
            }
          }
        });
      })


      //普通图片上传
      var uploadInst = upload.render({
        elem: '#test-upload-normal'
        , url: 'upload'
        , field: 'image'
        , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
          layer.load('loading'); //上传loading
        }
        , done: function (res) {
          //如果上传失败
          layer.closeAll('loading'); //关闭loading
          if (res.code > 0) {
            return layer.msg('上传失败');
          }
          $('#config_img').attr('src', res.file.saveFiles); //图片链接（base64）
          //上传成功
        }

        , error: function () {
          //演示失败状态，并实现重传
          var demoText = $('#test-upload-demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
          });
        }
      });
    }

    Config.prototype = {
      constructor: Config,
      getList: function () {
        table.render({
          elem: '#config-data'
          , method: 'post'
          , url: 'getData'
          , cols: [[
            {type: 'checkbox', fixed: 'left'}
            , {field: 'id', width: 92, title: 'ID', sort: true, fixed: 'left'}
            , {field: 'ename', width: 300, title: '英文名称'}
            , {field: 'cname', width: 350, title: '中文名称'}
            , {field: 'form_type', width: 150, title: '表单类型'}
            , {field: 'conf_type_name', width: 150, title: '配置类型'}
            , {field: 'sort', width: 80, title: '排序', sort: true, edit: 'text'}
            , {width: 450, align: 'center', toolbar: '#test-table-operate-barDemo'}
          ]]
          , page: true
        })
      },
    }

    new Config();
  });
</script>
</body>

