<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" id="nav" lay-shrink="all">
			<li class="layui-nav-item nav-item ">
				<a class="" href="javascript:;"><i class="fa fa-globe" aria-hidden="true"></i>全局配置<span class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd><a href="/admin.php/Config/index"><i class="fa fa-sliders" aria-hidden="true"></i>配置参数</a></dd>
					<dd><a href="/admin.php/Config/email"><i class="fa fa-envelope-o" aria-hidden="true"></i>邮件配置</a></dd>
					<dd><a href="/admin.php/Label/index"><i class="fa fa-wrench" aria-hidden="true"></i>定制标签</a></dd>
					<dd><a href="/admin.php/Model/index"><i class="fa fa-codepen" aria-hidden="true"></i>模型管理</a></dd>
					<dd><a href="/admin.php/ExtField/index"><i class="fa fa-external-link" aria-hidden="true"></i>模型字段</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item nav-item ">
				<a class="" href="javascript:;"><i class="fa fa-sliders" aria-hidden="true"></i>基础内容<span class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd><a href="/admin.php/Site/index"><i class="fa fa-cog" aria-hidden="true"></i>站点信息</a></dd>
					<dd><a href="/admin.php/Company/index"><i class="fa fa-copyright" aria-hidden="true"></i>公司信息</a></dd>
					<dd><a href="/admin.php/ContentSort/index"><i class="fa fa-bars" aria-hidden="true"></i>内容栏目</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item nav-item  layui-nav-itemed">
				<a class="" href="javascript:;"><i class="fa fa-file-text-o" aria-hidden="true"></i>文章内容<span class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd><a href="/admin.php/Single/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>专题内容</a></dd>
					<dd><a href="/admin.php/Content/index/mcode/2"><i class="fa fa-file-text-o" aria-hidden="true"></i>新闻内容</a></dd>
					<dd><a href="/admin.php/Content/index/mcode/3"><i class="fa fa-file-text-o" aria-hidden="true"></i>产品内容</a></dd>
					<dd><a href="/admin.php/Content/index/mcode/4"><i class="fa fa-file-text-o" aria-hidden="true"></i>案例内容</a></dd>
					<dd><a href="/admin.php/Content/index/mcode/5"><i class="fa fa-file-text-o" aria-hidden="true"></i>招聘内容</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item nav-item ">
				<a class="" href="javascript:;"><i class="fa fa-arrows-alt" aria-hidden="true"></i>扩展内容<span class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd><a href="/admin.php/Message/index"><i class="fa fa-question-circle-o" aria-hidden="true"></i>留言信息</a></dd>
					<dd><a href="/admin.php/Slide/index"><i class="fa fa-picture-o" aria-hidden="true"></i>轮播图片</a></dd>
					<dd><a href="/admin.php/Link/index"><i class="fa fa-link" aria-hidden="true"></i>友情链接</a></dd>
					<dd><a href="/admin.php/Form/index"><i class="fa fa-plus-square-o" aria-hidden="true"></i>自定义表单</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item nav-item ">
				<a class="" href="javascript:;"><i class="fa fa-cog" aria-hidden="true"></i>系统管理<span class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd><a href="/admin.php/Area/index"><i class="fa fa-sitemap" aria-hidden="true"></i>数据区域</a></dd>
					<dd><a href="/admin.php/Role/index"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>系统角色</a></dd>
					<dd><a href="/admin.php/User/index"><i class="fa fa-users" aria-hidden="true"></i>系统用户</a></dd>
					<dd><a href="/admin.php/Syslog/index"><i class="fa fa-history" aria-hidden="true"></i>系统日志</a></dd>
					<dd><a href="/admin.php/Database/index"><i class="fa fa-database" aria-hidden="true"></i>数据库管理</a></dd>
					<dd><a href="/admin.php/Site/server"><i class="fa fa-info-circle" aria-hidden="true"></i>服务器信息</a></dd>
				</dl>
			</li>

			<li style="height:1px;background:#666" class="layui-hide-sm"></li>

			<li class="layui-nav-item layui-hide-sm">
				<a href="/admin.php/Index/ucenter"><i class="fa fa-address-card-o" aria-hidden="true"></i> 资料修改</a>
			</li>

			<li class="layui-nav-item layui-hide-sm">
				<a href="/admin.php/Index/clearCache"><i class="fa fa-trash-o" aria-hidden="true"></i> 清理缓存</a>
			</li>

			<span class="layui-nav-bar" style="top: 112.5px; height: 0px; opacity: 0;"></span></ul>
	</div>
</div>